<app-menu
  *ngIf="!isSearch"
  (menuClickEvent)="toggleSearch()"
>
</app-menu>
<div
  *ngIf="!isSingle"
>
  <app-search-bar
    *ngIf="isSearch"
    (closeSearchBarEvent)="toggleSearch()"
    (inputValueEvent)="getFilteredListOfArtistsCard($event)"
    (changeSortDirectionEvent)="getSortedListOfArtistsCards($event)"
    [placeHolderValue]="'Name or tag'"
    class="d-flex justify-content-center w-100"
  >
  </app-search-bar>

  <div
    *ngIf="artistsList !== undefined"
  >
    <app-artists-cards
      [artistsCardsInput]="artistsCards"
      (clickOnArtistCardEvent)="toggleIsSingle()"
    >
    </app-artists-cards>
  </div>
  <div *ngIf="artistsList === undefined">
    <app-loader></app-loader>
  </div>
</div>
<div
  *ngIf="isSingle"
>
  <app-artist-card
    (closeSingleArtistCardEvent)="toggleIsSingle()"
  >
  </app-artist-card>
</div>

