.menu-container{
  min-width: 480px!important;
}

.menu{
  border-color: #f53b57!important;
  color: #f53b57;
}
.menu:hover{
  transition-duration: 0.25s;
  background-color: #f53b57!important;
  color: #fff;
}
